@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html body {
  background-color: #2391ff;
  font-family: "Poppins", sans-serif;
  height: 500px;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.23);
  width: 500px;
  margin: auto;
  margin-top: 25px;
  height: 100vh;
}

.content {
  width: 10rem;
  margin: auto;
  text-align: center;
  justify-items: center;
  color: #ffffff;
}

.CityName {
  font-size: 25px;
}

.Mtemp span {
  font-size: 75px;
}

.max_minTemp {
  display: flex;
  text-align: center;
  margin: auto;
  justify-items: center;
}

.temp {
  margin: auto;
  padding-top: 25px;
}

.input {
  justify-items: center;
  align-items: center;
  display: flex;
  margin: auto;
}

.WindHumidity {
  display: flex;
}

.Wind {
  margin: auto;
  padding-top: 25px;
}

.Humidity {
  margin: auto;
  padding-top: 25px;
}

.input input {
  margin: auto;
  padding: 1rem;
  width: 75%;
  height: 3rem;
  margin-top: 4.5rem;
  border: 3px solid aqua;
  border-radius: 8px 8px 8px 8px;
  outline: none;
  background-color: transparent;
  color: #fff;
}

::placeholder {
  color: #fff;
}
